.footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 540px) {
  .footer__links {
    flex-direction: column;
  }
}
