@import url(../vendor/normalize.css);

@import url(../fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__link/_active/header__link_active.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__figure/lead__figure.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__way/lead__way.css);
@import url(../blocks/lead/__city/lead__city.css);
@import url(../blocks/lead/__city-point/lead__city-point.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__span-accent/intro__span-accent.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

@import url(../blocks/places/places.css);
@import url(../blocks/places/__cards/places__cards.css);

@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__text/place__text.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__background/cover__background.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtittle/cover__subtittle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__item/footer__item.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__author/footer__author.css);
