.cover__title {
  max-width: 560px;
  margin: 0 auto;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: calc(76 / 72);
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .cover__title {
    font-size: calc(2rem + (100vw - 320px) / (768 - 320) * (72 - 32));
  }
}
